# python

In [ ]:
# python is a programming language
#python is a high level language
# python is dynamic,interpreted lang
# python is scripting lang
#python is General purpose programming lang
# python is portable=> the application which are develop by python on one patform 
are going to execute any platform without making any changes.
#python is platform independent.
#python is case sensitive,Real time programming lang.

In [ ]:
Variable=> variable is nothing it is a container which is used for 
            store data.
 Rule set:
 1.it must be start with an alphabet.
 2.it doesn't contain white space.
 3.keywords cannot used as variable name.

Data Tytes=> data-type is used for define which type
             of value,variable will contain.
Fundamental data-types (int,float,string,complex)
Collection Data-types(list,touple,dict,set,range,froenset

# Operators

In [ ]:
1.Arithmetic(+,-,*,/,%,//)
2.Comparision(==,!=,<,>,<=,>=)



3.Logical(T,F)
3.Assignment(=)
4.Bitwise(and,or,xor,Not,left shift,right shift)

In [1]:
num=int(input("Enter first number:"))
num1=int(input("Enter second number:"))
num2=num+num1
print("Add:",num2)

Enter first number:56
Enter second number:9
Add: 65

In [2]:
num=int(input("Enter first number:"))
num1=int(input("Enter second number:"))
num2=num-num1
print("sub:",num2)

Enter first number:7
Enter second number:9
sub: -2

In [3]:
num=int(input("Enter first number:"))
num1=int(input("Enter second number:"))
num2=num*num1
print("mul:",num2)

Enter first number:7
Enter second number:9
mul: 63

In [4]:
num=int(input("Enter first number:"))
num1=int(input("Enter second number:"))
num2=num%num1
print("div:",num2)

Enter first number:8
Enter second number:9
div: 8

In [5]:
num=int(input("Enter first number:"))
num1=int(input("Enter second number:"))
num2=num/num1
print("mod:",num2)

Enter first number:56
Enter second number:7
mod: 8.0

In [6]:
num3=int(input("Enter first number:"))
num=int(input("Enter second number:"))
num2=num3//num
print("fdiv:",num2)

Enter first number:78
Enter second number:9
fdiv: 8

In [7]:
num=int(input("Enter first number:"))
num1=int(input("Enter second number:"))
num2=num**num1
print("expo:",num2)

Enter first number:78
Enter second number:89
expo: 2491263352710084879541949832064021229485839836897365763785242906250171225037816245252538889132523801204488050168989828559036055755714915599298624386789060178312228241408

# Conditional statement:

In [8]:
# if condition
math=float(input("Enter marks of math"))
science=float(input("enter marks of science"))
hindi=float(input("enter marks of hindi"))
sst=float(input("enter marks of sst"))
english=float(input("enter marks of english"))
total=math+science+hindi+sst+english
avg=total/5
if(avg>=40):
    print("Total:",total)
    print("average:",avg)

Enter marks of math78
enter marks of science89
enter marks of hindi9
enter marks of sst8
enter marks of english7

In [9]:
# if-else condition
math=float(input("Enter marks of math"))
science=float(input("enter marks of science"))
hindi=float(input("enter marks of hindi"))
sst=float(input("enter marks of sst"))
english=float(input("enter marks of english"))
total=math+science+hindi+sst+english
avg=total/5
if(avg>=40):
    print("pass")
else:
    
    print("fail")

Enter marks of math78
enter marks of science78
enter marks of hindi90
enter marks of sst67
enter marks of english77
pass

In [10]:
# elif condition
math=float(input("Enter marks of math"))
science=float(input("enter marks of science"))
hindi=float(input("enter marks of hindi"))
sst=float(input("enter marks of sst"))
english=float(input("enter marks of english"))
total=math+science+hindi+sst+english
avg=total/5
if(avg>=60):
    print("first:")
elif(avg>=50):
    print("second")
elif(avg>=40):
      print("third:")
else:
    print("fail:")

Enter marks of math78
enter marks of science60
enter marks of hindi55
enter marks of sst45
enter marks of english34
second

In [11]:
# nested if-else condition
math=float(input("Enter marks of math"))
science=float(input("enter marks of science"))
hindi=float(input("enter marks of hindi"))
sst=float(input("enter marks of sst"))
english=float(input("enter marks of english"))
total=math+science+hindi+sst+english
avg=total/5
if(avg>=40):
    print("pass")
    if(avg>=60):
        print("first")
    elif(avg>=50):
        print("second")
    else:
      print("third")
else:
    print("fail")

Enter marks of math67
enter marks of science66
enter marks of hindi45
enter marks of sst34
enter marks of english33
pass
third

In [12]:
##### find greatest num among three number
num1=int(input("Enter a number\n"))
num2=int(input("Enter a number\n"))
num3=int(input("Enter a number\n"))
if((num1>num2) and (num1>num3)):
               ptint("greatest number is:", num1)
elif((num2>num1) and(num2>num3)):
               print("greatest number is:", num2)
else:
               print("greatest number is:", num3)

Enter a number
56
Enter a number
67
Enter a number
67
greatest number is: 67

In [13]:
#second largest number among three number
num1=int(input("Enter a number\n"))
num2=int(input("Enter a number\n"))
num3=int(input("Enter a number\n"))


if((num1>num2)and (num1<num3) or (num1>num3 and (num1<num2))):
    print("second largest number is:", num1)
elif((num2>num1) and(num2<num3) or (num2>num3) and (num2<num1)):
    print("second largest number is:", num2)
else:
    print("second largest number is:", num3)

Enter a number
78
Enter a number
89
Enter a number
55
second largest number is: 78

# session_List

In [14]:
#Total number of elements
list=[2,3,4,5,6,]
x=len(list)
print(x)

5

In [15]:
#index=> it always start from zero.
#it always pass in[]
l=[2,3,4,5,6,]
print(l)

[2, 3, 4, 5, 6]

In [16]:
#add the elements of list
l=[12,13,5,6,7]
x=l[2]+l[3]
print(x)

11

In [17]:
#update in list
l=[1,2,3,4,5,6]
l[1]=50
print(l)

[1, 50, 3, 4, 5, 6]

In [18]:
#insert in list insert(index,obj)
l=[3,4,5,7,8,9]
l.insert(1,50)
print(l)

[3, 50, 4, 5, 7, 8, 9]

In [19]:
#append in list
l=[5,6,7,8,9]
l.append(50)
print(l)

[5, 6, 7, 8, 9, 50]

In [20]:
#extend in list
l=[3,4,5,6,7]
l2=[10,11,33,44]
y=l+l2
print("l+l1:",y)

l+l1: [3, 4, 5, 6, 7, 10, 11, 33, 44]

In [21]:
# have to put all elements of l1 in l2
l1=[1,3,9,8]
l2=[10,11,33,44]
l1.extend(l2)
print("extend:",l1)

extend: [1, 3, 9, 8, 10, 11, 33, 44]

In [22]:
# have to put all elements of l2 in l1
l1=[1,3,9,8]
l2=[10,11,33,44]
l2.extend(l1)
print("extend:",l2)

extend: [10, 11, 33, 44, 1, 3, 9, 8]

In [23]:
#Reverse in list
l=[3,4,5,6,7,8,9]
l.reverse()
print(l)

[9, 8, 7, 6, 5, 4, 3]

In [24]:
#sort in list=>  it sort our list in acending order
l=[12,89,90,65,45]
l.sort()
print(l)

[12, 45, 65, 89, 90]

In [1]:
#sort in decending order
l=[12,89,90,65,45]
l.sort()
l.reverse()
print(l)

[90, 89, 65, 45, 12]

In [2]:
#sort in decending order Method-2
l=[12,89,90,65,45]
l.sort(reverse=True)
print(l)

[90, 89, 65, 45, 12]

In [3]:
#del keyword// this keyword delete elements of index postion
l=[1,2,3,4,5,6,7]
del l[1]
print(l)

[1, 3, 4, 5, 6, 7]

In [4]:
#pop method
l=[1,3,4,5,6,7]
x=l.pop()
print(l)
print("x=", x)

[1, 3, 4, 5, 6]
x= 7

In [29]:
#pop method2
l=[1,3,4,5,6,7]
x=l.pop(1)
print(l)
print("x=", x)

[1, 4, 5, 6, 7]
x= 3

In [30]:
#remove method()
l=[2,3,4,5,6,7]
l.remove(5)
print(l)

[2, 3, 4, 6, 7]

In [31]:
#clear
l=[2,3,4,5,6,7]
l.clear()
print(l)

[]

# append

In [32]:
 #append method
l=[12,3,4,6,79]
x=l
l.append(100)
print("x", x)
print("l", l)

x [12, 3, 4, 6, 79, 100]
l [12, 3, 4, 6, 79, 100]

In [33]:
 #copy method
l=[12,3,4,6,79]
x=l.copy()
print(x)
#l.append(100)
#print("x", x)
#print("l", l)

[12, 3, 4, 6, 79]

In [34]:
 #append method
l=[12,3,4,6,79]
x=l.copy()
l.append(100)
print("x", x)
print("l", l)

x [12, 3, 4, 6, 79]
l [12, 3, 4, 6, 79, 100]

In [35]:
#count method
l=[4,6,7,9,8,8,8,8,9,9]
x=l.count(8)
print(x)

4

In [36]:
#index method in list
l=[1,3,4,5,6,7]
x=l.index(6)
print("index:", x)

index: 4

In [37]:
fruits_name=["apple","mango","grapes","papaya"]
print(fruits_name[2])

grapes

In [38]:
fruits_name=["apple","mango","grapes","papaya"]
for i in fruits_name:
          print(i*2)

appleapple
mangomango
grapesgrapes
papayapapaya

In [39]:
fruits_name=["apple","mango","grapes","papaya"]
for i in fruits_name:
          print((i+" ")*2)

apple apple
mango mango
grapes grapes
papaya papaya

In [1]:
data=int(input("Enter number:"))
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
      print(i*data)

Enter number:5
5
10
15
20
25
30
35
40
45
50

In [41]:
num=int(input("how many number you want to store:"))
name=[]
for i in range(num):
       data=input("Enter name:")
       name.append(data)
print("List of name:",name)

how many number you want to store:2
Enter name:kkk
Enter name:llll
List of name: ['kkk', 'llll']

In [42]:
num=int(input("how many number you want to store:"))
name=[]
for i in range(num):
       data=input("Enter name:")
       name.append(data)
print("List of name:",name)

how many number you want to store:5
Enter name:uuu
Enter name:ooo
Enter name:iii
Enter name:kk
Enter name:hh
List of name: ['uuu', 'ooo', 'iii', 'kk', 'hh']

# session STRING

In [43]:
data="this is string"
print(len(data))

14

In [44]:
data="this is string"
for i in data:
    print(i)

t
h
i
s

i
s

s
t
r
i
n
g

data="this is string"
x=data[:1]
print(x)
#sclicing methd in string

In [7]:
data="this isotring"
x=data[::6]
print(x)

tsg

In [9]:
data="this is string"
x=data[8:]
print(x)

string

In [48]:
data="this is string"
x=data[8::]
print(x)

string

In [49]:
data="this isotring"
x=data[5:7]
print(x)

is

In [50]:
data="this is string"
x=data.capitalize()
print(x)

This is string

In [51]:
data="This Is string"
x=data.lower()
print(x)

this is string

In [52]:
data="this is string"
x=data.upper()
print(x)

THIS IS STRING

In [53]:
data="this is string"
x=data.title()
print(x)

This Is String

In [54]:
data="This Is python"
x=data.casefold()
print(x)

this is python

In [55]:
data="This Is PythOn"
x=data.casefold()
print(x)

this is python

In [56]:
data="this is python"
x=data.count('i')
print(x)

2

In [57]:
data="this Is python"
x=data.count('i')
print(x)

1

In [58]:
data="this Is python"
x=data.count('I')
print(x)

1

In [59]:
data="this Is python"
x=data.center(22,'#')
print(x)

####this Is python####

In [60]:
data="this Is python"
x=data.center(22)
print(x)
#they gives both size space equal

    this Is python

In [61]:
data="this Is python"
x=data.center(20,'#')
print(x)

###this Is python###

In [62]:
data="this Is python"
x=data.center(50,'#')
print(x)

##################this Is python##################

In [63]:
data="     this  python    "
x=data.strip()
print(x)

this  python

In [2]:
data="this is python"
x=data.find('th p')
print(x)

-1

In [65]:
data="this is python"
x=data.find('t p')
print(x)

-1

In [8]:
data="this is string"
x=data.find('is i')
print(x)

2

In [67]:
data="this is my first class"
x=data.find('my c')
print(x)

-1

In [68]:
data='d t o p v b n m i'
x=data.find('o b')
print(x)

-1

In [4]:
data="this is my firs class"
x=data.index('is my')
print(x)

5

In [70]:
data="this ,is ,my ,first"
x=data.split(" ",maxsplit=1)
print(x)

['this', ',is ,my ,first']

In [6]:
data="this, is, my, first"
x=data.split(",",maxsplit=1)
print(x)

['this', ' is, my, first']

In [72]:
data="this \nfirst class"
print(data)

this
first class

In [73]:
data=""" this is class
my class
class"""
print(data)

 this is class
my class
class

In [74]:
data="this is class 5+6"
print(data)

this is class 5+6

In [75]:
data=f"this is class {5+6}"
print(data)

this is class 11

# touple

In [76]:
t=(1,2,3,4,5,6)
print(len(t))

6

In [77]:
t=(1,2,3,4,5,6)
print(max(t))

6

In [78]:
t=(1,2,3,4,5,6)
print(min(t))

1

In [79]:
t=(1,2,3,4,5,6)
print(sum(t))

21

In [7]:
t=(1,2,3,4,5,6)
t=list(t)
t.append(100)
t=tuple(t)
print(t)

(1, 2, 3, 4, 5, 6, 100)

In [5]:
t=(1,2,3,4,5,6)
x=0
for i in t:
    i=int(i)
    x=x+i
    print(x)

1
3
6
10
15
21

# FUNCTION

# user define function type is 4
#without parameter without return
#without parameter with return
#with parameter without return
#with parameter with return

In [82]:
def add():
    
    n=int(input("enetr a number:"))
    n1=int(input("enetr second number:"))
    num=n+n1
    print("add", num)
    #first case

In [83]:
add()

enetr a number:67
enetr second number:9
add 76

In [84]:
add()

enetr a number:78
enetr second number:9
add 87

In [85]:
def add():
    
    n=int(input("enetr a number:"))
    n1=int(input("enetr second number:"))
    num=n+n1
    return num

In [86]:
x=add()
print(x)

enetr a number:78
enetr second number:89
167

In [87]:
x=add()
print(x)

enetr a number:89
enetr second number:88
177

In [88]:
x=add()
print(x)

enetr a number:89
enetr second number:99
188

In [89]:
#paas value nothing return
def sub(n1,n2):
    num=n1-n2
    print("subtract a number:",num)

In [90]:
sub(8,9)

subtract a number: -1

In [91]:
#pass value return someting
def sub(n1,n2):
    num=n1-n2
    return num

In [92]:
x=sub(7,9)
print(x)

-2

In [93]:
x=sub(10,5)-sub(2,1)
print(x)

4

In [94]:
def fact():
    f=1
    n=int(input("enter a number:"))
    for i in range(1,n+1):
        f=f*i
        print("factorial is:",f)

In [95]:
fact()

enter a number:8
factorial is: 1
factorial is: 2
factorial is: 6
factorial is: 24
factorial is: 120
factorial is: 720
factorial is: 5040
factorial is: 40320

In [96]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
        print("factorial is:",f)

In [97]:
fact(3)

factorial is: 1
factorial is: 2
factorial is: 6

In [98]:
def fact():
    f=1
    n=int(input("enter a number:"))
    for i in range(1,n+1):
        f=f*i
       
    
    return f

In [99]:
x=fact()
print(x)

enter a number:8
40320

In [100]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
       
    
    return f

In [101]:
x=fact(5)
print(x)

120

In [102]:
import random as r

In [103]:
r.randint(1,10)

8

In [104]:
r.randint(1,10)

10

In [105]:
r.randint(1,10)

8

In [106]:
l=["vivek","kalyani","Mohan","Raman"]
r.choice(l)

'vivek'

In [107]:
l=["vivek","kalyani","Mohan","Raman"]
r.choice(l)

'Mohan'

In [108]:
#random function given any randow elements
r.random()

0.2800974583140412

In [109]:
r.randrange(1,10,5)

6

In [110]:
import random as r
def roll_dice():
    x=r.randint(1,6)
    print(x)
    if x==6:
        roll_dice()
# ludo game program

In [111]:
roll_dice()

2

In [112]:
roll_dice()

6
5

In [113]:
roll_dice()

5

In [114]:
roll_dice()

5

In [115]:
roll_dice()

6
3

In [116]:
import math as s

In [117]:
s.pow(2,3)

8.0

In [118]:
s.exp(3)

20.085536923187668

In [119]:
s.sqrt(4)

2.0

In [120]:
s.cos(4)

-0.6536436208636119

In [121]:
s.sin(8)

0.9893582466233818

# Touple

In [1]:
t=(1,2,3,4,5,6,7,78,90)
x=len(t)
print(x)

9

In [2]:
t=(1,2,3,45,67,8)
x=max(t)
print(x)

67

In [3]:
t=(1,2,3,45,67,8)
x=min(t)
print(x)

1

In [4]:
t=(1,2,3,4,5,6,6,7)
x=sum(t)
print(x)

34

In [11]:
t=(23,56,78,89)
t=list(t)
t.append(400)
t=tuple(t)
print(t)

(23, 56, 78, 89, 400)

In [3]:
def check(x):
    i=2
    while(i<x):
        if(x%i==0):
            print(x,"is not prime")
    else:
        
        print(x,"is prime")

In [ ]:
check(3)

In [ ]:
def check(x):
    i=2
    while(i<x):
        if(x%i==0):
            print(x,"is not prime")
    else:
         print(x,"is prime")

In [ ]:
def check(x):
    i=2
    while(i<x):
        if(x%1==0):
            print(x,"is not prime")
    else:
        print(x,"is prime")
    i+=1

In [131]:
def check(x):
    i=2
    while(i<x):
        if(x%1==0):
            print(x,"is not prime")
            break
    else:
        print(x,"is prime")
    i+=1

In [132]:
check(5)

5 is not prime

In [ ]:
def check():
    x=int(input("Enter number:"))
    if(x==2):
        print("It is even prime")
    else:
        i=2
        temp=0
        while(i<x):
            if(x%i==0):
                temp+=1
                break
        else:
            temp=0
        i+=1
        if temp==1:
            print(x,"is not prime")
        else:
            print(x,"is prime")

In [ ]:
check()

In [ ]:
check()

# Dictionary

In [ ]:
# dictionary is a collection of key-value pair
#dict are unordered data-types

dict={"brand":"ford","model": "Mustang","year": 1964}
print(dict)

# Range

In [ ]:
#range(start,end,step)

In [10]:
low_num=int(input("Enter low num:"))
upp_num=int(input("Enetr upper num"))
for i in range(low_num,upp_num+1):
    if(i%2==0):
        print(i)

Enter low num:6
Enetr upper num9
6
8

In [11]:
low_num=int(input("Enter low num:"))
upp_num=int(input("Enetr upper num"))
for i in range(low_num,upp_num+1):
    if(i%2!=0):
        print(i)

Enter low num:1
Enetr upper num9
1
3
5
7
9

In [12]:
#continue
num=int(input("How many name you want to store:"))
name=[]
for i in range(num):
        data=input("enter name:")
        if data in name:
             continue
        else:
            name.append(data)
            print("List of name:",name)

How many name you want to store:3
enter name:kalyani
List of name: ['kalyani']
enter name:shubham
List of name: ['kalyani', 'shubham']
enter name:hhh
List of name: ['kalyani', 'shubham', 'hhh']

In [13]:
#break
name=[]
for i in range(num):
        data=input("enter name:")
        if data in name:
             break
        else:
            name.append(data)
            print("List of name:",name)

enter name:kalyani
List of name: ['kalyani']
enter name:shubham
List of name: ['kalyani', 'shubham']
enter name:kkk
List of name: ['kalyani', 'shubham', 'kkk']

# Exception handling

In [ ]:
Try=> write that part of code
      where error can occure
except=> when error will generate than
         what should to do.
else=> if error will not generate than
        what to do
finally=> this part of code will work
          when error will generate or not

In [1]:
try:
    num=int(input("Enter number:"))
    num2=int(input("Enter number"))
except:
    print("please enter an integer number")
else:
    num3=num+num2
    
    print("add", num3)
finally:
    print("Thanku")

Enter number:9
Enter number8
add 17
Thanku

In [2]:
try:
    num=int(input("Enter number:"))
    num2=int(input("Enter number"))
except:
    print("please enter an integer number")
else:
    num3=num+num2
    print("add", num3)
finally:
    print("Thanku")

Enter number:y
please enter an integer number
Thanku

In [3]:
def fun():
    try:
        num1=int(input("Enter number"))
        num2=int(input("Enter number"))
        num3=num1/num2
    except ValueError:
            print("enter a int number:")
            fun()
    except ZeroDivisionError:
           print("please do not enter 0 as denominator")
           fun()
    else:
         print("result:", num3)

In [4]:
fun()

Enter number9
Enter number8
result: 1.125

In [5]:
class error(Exception):
    pass
class kalyani(error):
    pass
class sonali(error):
    pass
try:
    n1=int(input("enter number:"))
    n2=int(input("enter number:"))
    n3=n1+n2
    if n3>100:
        raise kalyani
    elif n3<0:
        raise sonali
except ValueError:
    print("please an int number as input")
except kalyani:
    print("please enter smaller number")
except sonali:
    print("please enter greater number")
else:
    print("add:",n3)
finally:
    print("Thank you")

enter number:8
enter number:9
add: 17
Thank you

# file handling

In [1]:
pwd

'C:\\Users\\kalya'

In [9]:
import os

In [10]:
# alraedy shubham file is create that why show error
os.mkdir("shubham")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'shubham'

In [12]:
f=open(r"C:\Users\kalya\\shubham.txt", "r")
data=f.read()
print(data)
f.close()
# shubham file is created by notepad but occur error because i deleted the the file shubham

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\kalya\\\\shubham.txt'

# topic is class:

In [16]:

class first:
    def add(self, n1,n2):
        n3=n1+n2
        print("add", n3)
    def subtract(self, n1,n2):
        n3=n1-n2
        print("subtract:", n3)
    def multiply(self, n1,n2):
        n3=n1*n2
        print("multiply", n3)

In [17]:
f=first()

In [18]:
f.add(4,5)

add 9

In [19]:
f.subtract(6,5)

subtract: 1

In [20]:
f.multiply(5,6)

multiply 30

In [11]:
# init in python work like constructor
class first:
     def __init__(self,n1,n2):
            
            self.n1=n1
            self.n2=n2
            print("this is my first class")
     def add(self):
        n3=self.n1+self.n2
        print(n3)
     def subtract(self):
        n3=self.n1-self.n2
        print(n3)
     def multiply(self):
        n3=self.n1*self.n2
        print(n3)

In [12]:
f=first(9,5)

this is my first class

In [13]:
f.add()

14

In [14]:
f.multiply()

45

In [15]:
f.subtract()

4

In [ ]:
# topic is inheritance
it is a process in which accuire the properties of object by the another class.

In [16]:
# single inheritance
class first:
    def fun(self):
        print("this is my first class")
    def fun2(self):
        print("this my second class")
class second(first):
      def print(self):
            print("this my thidr class")
      def print2(self):
           print("kalyani")

In [17]:
s=second()

In [18]:
s.fun()

this is my first class

In [19]:
s.fun2()

this my second class

In [20]:
s.print()

this my thidr class

In [21]:
s.print2()

kalyani

In [22]:
# multilevel inheritance
class first:
    def fun(self):
        print("this is my first class")
    def fun2(self):
        print("this my second class")
class second(first):
      def print(self):
            print("this my thidr class")
      def print2(self):
           print("kalyani")
class third(second):
      def print4(self):
            print("this my class")

In [23]:
t=third()

In [24]:
t.fun()

this is my first class

In [25]:
t.fun2()

this my second class

In [26]:
t.print()

this my thidr class

In [27]:
t.print2()

kalyani

In [28]:
t.print4()

this my class

In [29]:
#hierarical inheritance
class first:
    def fun(self):
        print("this is my first class")
    def fun2(self):
        print("this my second class")
class second(first):
      def print(self):
            print("this my thidr class")
      def print2(self):
           print("kalyani")
class third(first):
      def print4(self):
            print("this my class")

In [30]:
s=second()

In [31]:
s.fun()

this is my first class

In [32]:
s.fun2()

this my second class

In [33]:
s.print()

this my thidr class

In [34]:
s.print2()

kalyani

In [35]:
t=third()

In [36]:
t.fun()

this is my first class

In [37]:
t.print4()

this my class

In [38]:
#use global keywords
class first:
    global num1
    global num2
    num1=int(input("enter a number:"))
    num2=int(input("enter a number:"))
    def add(self):
        global num3
        num3=40
        num4=num1+num2+num3
        print(num4)
    def subtract(self):
        num4=num1-num2-num3
        print(num4)

enter a number:8
enter a number:9

In [39]:
f=first()

In [40]:
f.add()

57

In [41]:
f.subtract()

-41

In [42]:
#program how to work iteration
l=["apple", "ball", "dog"]
x=iter(l)
print(next(x))
print(next(x))

apple
ball

In [43]:
#fuction overiding
class robot:
    def action(self):
        print("robot action")
class hello(robot):
    def action(self):
        print("hello world")

In [44]:
h=hello()

In [45]:
h.action()

hello world

In [2]:
#fuction overiding
class robot:
    def action(self):
        print("robot action")
class hello(robot):
    def action(self):
        print("hello world")

In [47]:
#instance method
class First:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def fun1(self):
        print("this is fun1 and i am printing num1:",self.num1)
    def fun2(self,num3):
        self.num1=num3
        print("this is fun2 and i am printing:", self.num1)

In [48]:
f=First(10,20)

In [49]:
f.fun1()

this is fun1 and i am printing num1: 10

In [50]:
f.fun2(50)

this is fun2 and i am printing: 50

In [51]:
f.fun1()

this is fun1 and i am printing num1: 50

In [52]:
# data hiding
#we use double undescore(__)
class first:
    __hiddenvar=12
    def add(self,increment):
        self.__hiddenvar += increment
        print(self.__hiddenvar)

In [53]:
f=first()

In [54]:
f.add(3)

15

In [55]:
cd desktop

C:\Users\KALYANI KUMARI\desktop

In [56]:
l1=[]
l2=[]
l3=[]
def sign_in():
    
    user=input("Enter userName:")
    email=input("Enter Emain ID:")
    pwd=input("Enter Password:")
    l1.append(user)
    l2.append(email)  
    l3.append(pwd)
    
def login():
    user=input("Enter userName:")
    email=input("Enter Emain ID:")
    pwd=input("Enter Password:")
    if(user==l1[0])and(email==l2[0])and(pwd==l3[0]):
        print("Login Success")
    else:
        print("please enter correct username, email and password")
def open_page():
    print("1: sing in")
    print("2: Login")
    print("3: exit")
    a=input("Enter choice")
    
    try:
         s=int(a)
         return(s)
    except:
        print("only use number")
while True:
    x=open_page()

    if x==1:
        sign_in()
    
    elif x==2:
        login()
    elif x==3:
        break

f=open(r"C:\Users\KALYANI KUMARI\desktop\info3.txt", "a")
data=f'''
l1:{l1}
l2:{l2}
l3:{13}
'''
f.write(data)
f.close()

1: sing in
2: Login
3: exit
Enter choice3

In [57]:
cd desktop

[WinError 2] The system cannot find the file specified: 'desktop'
C:\Users\KALYANI KUMARI\desktop

In [58]:
l1=[]
l2=[]
l3=[]
def sign_in():
    
    user=input("Enter userName:")
    email=input("Enter Emain ID:")
    pwd=input("Enter Password:")
    l1.append(user)
    l2.append(email)  
    l3.append(pwd)
    
def login():
    user=input("Enter userName:")
    email=input("Enter Emain ID:")
    pwd=input("Enter Password:")
    if(user==l1[0])and(email==l2[0])and(pwd==l3[0]):
        print("Login Success")
    else:
        print("please enter correct username, email and password")
def open_page():
    print("1: sing in")
    print("2: Login")
    print("3: exit")
    a=input("Enter choice")
    
    try:
         s=int(a)
         return(s)
    except:
        print("only use number")
while True:
    x=open_page()
    if x==1:
        sign_in()
    elif x==2:
        login()
    elif x==3:
        break

f=open(r"C:\Users\KALYANI KUMARI\desktop\inf.txt", "w")
data=f'''
l1:{l1}
l2:{l2}
l3:{13}
'''
f.write(data)
f.close()

1: sing in
2: Login
3: exit
Enter choice3

In [59]:
#instance method
class First:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def fun1(self):
        print("this is fun1 and i am printing num1:",self.num1)
    def fun2(self,num3):
        self.num1=num3
        print("this is fun2 and i am printing:", self.num1)

In [60]:
f=First(10,20)

In [61]:
f.fun1()

this is fun1 and i am printing num1: 10

In [62]:
f.fun2(50)

this is fun2 and i am printing: 50

In [63]:
f.fun1()

this is fun1 and i am printing num1: 50

In [64]:
def double(self):
    current=self.head
    for _ in range(len(self)):
        new_node=Node(current.item)
        new_node.link=current.link
        current.link=new_node
        current=new_node.link
        self.length *=2

In [65]:
#bubble sort program
list=[34,15,29,8]
def bubblesort(list):
    n=len(list)
    i=0
    for i in range(len(list)):
        for j in range(0,n-i-1):
            if(list[j]>list[j+1]):
                list[j],list[j+1]=list[j+1],list[j]
                i=1
                if(i==0):
                    break
                    print("sorted element is:",list)

In [66]:
bubblesort(list)

In [67]:
list

[8, 15, 29, 34]

In [68]:
#bubble sort program
list=[50,45,79,8,67,7]
def bubblesort(list):
    n=len(list)
    for i in range(len(list)):
        i=0
        for j in range(0,n-i-1):
            if(list[j]>list[j+1]):
                list[j],list[j+1]=list[j+1],list[j]
                i=1
                print("sorted element is:",list)

In [69]:
bubblesort(list)

sorted element is: [45, 50, 79, 8, 67, 7]
sorted element is: [45, 50, 8, 79, 67, 7]
sorted element is: [45, 50, 8, 67, 79, 7]
sorted element is: [45, 50, 8, 67, 7, 79]
sorted element is: [45, 8, 50, 67, 7, 79]
sorted element is: [45, 8, 50, 7, 67, 79]
sorted element is: [8, 45, 50, 7, 67, 79]
sorted element is: [8, 45, 7, 50, 67, 79]
sorted element is: [8, 7, 45, 50, 67, 79]
sorted element is: [7, 8, 45, 50, 67, 79]

In [70]:
list

[7, 8, 45, 50, 67, 79]

In [71]:
#bubble sort program
list=[34,15,29,8]
def bubblesort(list):
    n=len(list)
    for i in range(len(list)):
        for j in range(0,n-i-1):
            if(list[j]>list[j+1]):
                list[j],list[j+1]=list[j+1],list[j]
                if(i==0):
                    print("sorted element is:",list)

In [72]:
bubblesort(list)

sorted element is: [15, 34, 29, 8]
sorted element is: [15, 29, 34, 8]
sorted element is: [15, 29, 8, 34]

In [73]:
list

[8, 15, 29, 34]

In [74]:
#bubble sort program
list=[50,45,79,8,67,7]
def bubblesort(list):
    n=len(list)
    for i in range(len(list)):
    
        for j in range(0,n-i-1):
            if(list[j]>list[j+1]):
                list[j],list[j+1]=list[j+1],list[j]
                if(i==0):
                    print("sorted element is:",list)

In [75]:
bubblesort(list)

sorted element is: [45, 50, 79, 8, 67, 7]
sorted element is: [45, 50, 8, 79, 67, 7]
sorted element is: [45, 50, 8, 67, 79, 7]
sorted element is: [45, 50, 8, 67, 7, 79]

In [76]:
list

[7, 8, 45, 50, 67, 79]

In [77]:
#bubble sort program
list=[50,45,79,8,67,7]
def bubblesort(list):
    n=len(list)
    for i in range(len(list)):
        i=0
        for j in range(0,n-i-1):
            if(list[j]>list[j+1]):
                list[j],list[j+1]=list[j+1],list[j]
                i=1
                print("sorted element is:",list)

In [78]:
#bubble sort program
list=[50,45,79,8,67,7]
def bubblesort(list):
    n=len(list)
    for i in range(n):
        for j in range(0,n-i-1):
            if(list[j]>list[j+1]):
                list[j],list[j+1]=list[j+1],list[j]
                print("sorted element is:",list)

In [79]:
bubblesort(list)

sorted element is: [45, 50, 79, 8, 67, 7]
sorted element is: [45, 50, 8, 79, 67, 7]
sorted element is: [45, 50, 8, 67, 79, 7]
sorted element is: [45, 50, 8, 67, 7, 79]
sorted element is: [45, 8, 50, 67, 7, 79]
sorted element is: [45, 8, 50, 7, 67, 79]
sorted element is: [8, 45, 50, 7, 67, 79]
sorted element is: [8, 45, 7, 50, 67, 79]
sorted element is: [8, 7, 45, 50, 67, 79]
sorted element is: [7, 8, 45, 50, 67, 79]

In [80]:
list

[7, 8, 45, 50, 67, 79]

In [81]:
#bubble sort program
list=[34,15,29,8]
def bubblesort(list):
    n=len(list)
    for i in range(n):
        for j in range(n-i-1):
            if(list[j]>list[j+1]):
                list[j],list[j+1]=list[j+1],list[j]
                print("sorted element is:",list)

In [82]:
bubblesort(list)

sorted element is: [15, 34, 29, 8]
sorted element is: [15, 29, 34, 8]
sorted element is: [15, 29, 8, 34]
sorted element is: [15, 8, 29, 34]
sorted element is: [8, 15, 29, 34]

In [83]:
list

[8, 15, 29, 34]

In [84]:
#bubble sort program
list=[34,15,29,8]
def bubblesort(list):
    n=len(list)
    for i in range(n):
        swap=0
        for j in range(n-i-1):
            if(list[j]>list[j+1]):
                list[j],list[j+1]=list[j+1],list[j]
                swap=1
                if(swap==0):
                    
                    print("sorted element is:",list)

In [85]:
bubblesort(list)
list

[8, 15, 29, 34]

In [86]:
#insertion sort
l=[34,11,67,8,19]
def selectionsort(l):
    n=len(l)
    for i in range(n):
        min=i;
        for j in range(i+1,n):
            if(l[j]<l[min]):
                l[min],l[j]=l[j],l[min]
                if(min!=i):
                     print("shorted list are",l)

In [87]:
selectionsort(l)

In [88]:
l

[8, 11, 19, 34, 67]

In [89]:
l=[34,11,67,8,19]
def selectionsort(l):
    n=len(l)
    for i in range(n):
        min=i;
        for j in range(i+1,n):
            if(l[j]<l[min]):
                l[min],l[j]=l[j],l[min]
                
                print("shorted list are",l)

In [90]:
selectionsort(l)

shorted list are [11, 34, 67, 8, 19]
shorted list are [8, 34, 67, 11, 19]
shorted list are [8, 11, 67, 34, 19]
shorted list are [8, 11, 34, 67, 19]
shorted list are [8, 11, 19, 67, 34]
shorted list are [8, 11, 19, 34, 67]

In [91]:
l

[8, 11, 19, 34, 67]

In [92]:
l=[34,11,67,8,19]
def selectionsort(l):
    n=len(l)
    for i in range(n):
        for j in range(i+1,n):
            if(l[j]<l[i]):
                l[i],l[j]=l[j],l[i]
                print("shorted list are",l)

In [93]:
selectionsort(l)

shorted list are [11, 34, 67, 8, 19]
shorted list are [8, 34, 67, 11, 19]
shorted list are [8, 11, 67, 34, 19]
shorted list are [8, 11, 34, 67, 19]
shorted list are [8, 11, 19, 67, 34]
shorted list are [8, 11, 19, 34, 67]

In [94]:
l

[8, 11, 19, 34, 67]

In [95]:
def binary(list,key):
    low=0
    hig=len(list)-1
    while(low<=hig):
        mid=(low+hig)//2
        if(list[mid]==key):
            return mid
        elif list[mid]<key:
            low=mid+1
        else:
            hig=mid-1
            return -1

In [96]:
list=[1,67,89,90,500]#unshorted list hai isliye output nhi aa rha h
key=67
result=binary(list,key)
if result!=-1:
    print("element in shorted index is",result)
else:
    print("not present element in index")

not present element in index

In [97]:
def binary(list,key):
    low=0
    hig=len(list)-1
    while(low<=hig):
        mid=(low+hig)//2
        if(list[mid]==key):
            return mid
        elif list[mid]<key:
            low=mid+1
        else:
            hig=mid-1
            return -1

In [98]:
list=[1,67,89,90,500]
key=8
result=binary(list,key)
if result!=-1:
    print("element in shorted index is",result)
else:
    print("not present element in index")

not present element in index

In [1]:
list=[6,9,8,90,67]
key=9
def linear(list,key):
    n=len(list)
    for i in range(0,n):
        if(list[i]==key):
            
             return i;
     
             return -1;

In [2]:
res=linear(list,key)
print("index is",res)

index is 1

In [101]:
#right program in linear search
def linear(list,key):
    n=len(list)
    for i in range(0,n):
        if(list[i]==key):
            
             return i;
            
    return -1;

In [102]:
list=[6,9,8,90,67]
key=7
res=linear(list,key)
if(res == -1):
    print("Element is not present in list:")
else:
    print("element is present at index:",res)

Element is not present in list:

In [103]:
num=int(input("how many number you want to store:"))
name=[]
for i in range(num):
       data=input("Enter name:")
       name.append(data)
print("List of name:",name)

how many number you want to store:8
Enter name:kkk
Enter name:llll
Enter name:kkkk
Enter name:llll
Enter name:uuuu
Enter name:yyyy
Enter name:tttt
Enter name:yyyyy
List of name: ['kkk', 'llll', 'kkkk', 'llll', 'uuuu', 'yyyy', 'tttt', 'yyyyy']

In [3]:
# remove white space between two string2
str =" kkk kk kkr"
x=str.replace(" ", "")
print((x))

kkkkkkkr

In [5]:
t=(23,56,78,89)
t=list(t)
t.insert(2,400)
t=tuple(t)
print(t)

(23, 56, 400, 78, 89)